name: Release

on:
  pull_request:
    types:
      - closed
    branches:
      - 'main'

jobs:
  doOnRelease:
    runs-on: [ubuntu-latest]
    if: ${{ github.event.pull_request.merged == true && startsWith(github.event.pull_request.title, "chore(main)") }}
    steps:
      - name: echo
        run: echo "this is Release PR merged"

  doOnMerge:
    runs-on: [ubuntu-latest]
    if: ${{ github.event.pull_request.merged == true && !startsWith(github.event.pull_request.title, "chore(main)") }}
    steps:
      - name: echo
        run: echo "this is Normal PR merged"

  release:
    name: Release Please
    runs-on: [ubuntu-latest]
    outputs:
      created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ env.IMAGE_TAG }}
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: go
      - name: Export Released Version for Image Tag
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          echo "IMAGE_TAG=${{ steps.release.outputs.tag_name }}" >> $GITHUB_ENV
      - name: Export Commit SHA for Image Tag
        if: ${{ !steps.release.outputs.releases_created }}
        run: |
          sha=$(echo "${{ github.sha }}" | cut -c1-7)
          echo "IMAGE_TAG=$sha" >> $GITHUB_ENV

