name: Release

on:
  push:
    branches: [ main, gha ]
  workflow_dispatch:
    inputs:
      test:
        type: string
        default: "yes"
        description: "test input"
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: go

      - name: "released"
        if: ${{ steps.release.outputs.release_created }}
        run: |
        
          echo "tag name: ${{ steps.release-please.outputs.tag_name }}"
          echo "release created: ${{ steps.release-please.outputs.release_created }}"
          echo "sha: ${{ steps.release-please.outputs.sha }}"

      - name: Not Released
        if: ${{ !steps.release.outputs.release_created }}
        run: |
          echo "tag name: ${{ steps.release-please.outputs.tag_name }}"
          echo "release created: ${{ steps.release-please.outputs.release_created }}"
          echo "sha: ${{ steps.release-please.outputs.sha }}"
