name: Manual Deploy

on:
  workflow_dispatch:
    inputs:
      image-tag:
        type: string
        default: latest
        description: container image tag to be deployed to production. If it's `latest`, the latest release will be deployed.
        required: true
      environment:
        type: choice
        options:
          - prod
          - stg
          - dev
        description: deploy target environment
        required: true
        default: prod

permissions:
  id-token: write
  contents: read

jobs:
  set-version:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ env.IMAGE_TAG }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Get Latest Version
        if: ${{ inputs.image-tag == 'latest' }}
        run: |
          version="$(gh release list --exclude-drafts --limit 1 | awk '{print $1}')"
          echo "IMAGE_TAG=${version}" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Given Version
        if: ${{ inputs.image-tag != 'latest' }}
        run: |
          version=${{ inputs.image-tag }}
          echo "IMAGE_TAG=${version}" >> $GITHUB_ENV

      - name: Print Version
        run: echo "Deploying version ${{ env.IMAGE_TAG }} to ${{ inputs.environment }}"