name: Release to Production

on:
  pull_request:
    types:
      - opened
  workflow_dispatch:
  push:
    branches:
      - main
      - ci

permissions:
  id-token: write
  contents: read

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: action
        run: echo "${{ github.event.action }}"
      - name: ref
        run: echo "${{ github.ref }}"
      - name: ref_name
        run: echo "${{ github.ref_name }}"
      - name: sha
        run: echo "${{ github.sha }}"

